<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alma Equilíbrio</title>
    <!-- Link para o CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Bem-vindo à Alma Equilíbrio!</h1>
    </header>
    
    <main>
        <p id="description">Aqui você encontra equilíbrio e bem-estar através de nossos produtos.</p>
        <button id="magicButton">Clique aqui para transformar a página</button>
    </main>

    <!-- Adicionando um script JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
